<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email verified successfully</title>
</head>
<body>
  Hello {{username}}! Your email address has been verified! <br />
  You can start using Odysseus right now!
</body>
</html>