<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signed Up</title>
</head>
<body>
  Welcome {{username}}! <br>
  You should validate your email address with the following verification code: {{code}}
</body>
</html>